<% action_url = (action == :new) ? subscriptions_url : subscription_url(@subscription) %>

<form action="<%= action_url %>" method="post">
	<% if action == :edit %>
		<input type="hidden" name="_method" value="patch">
	<% end %>

    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    
    <label>Subscription: <%= @subscription.site %></label>
    
    <input type="hidden" name="subscription[user_id]" value="<%= current_user ? current_user.id : nil %>" id="subscription[user_id]">
    
    <label for="Site">Site</label>
    <input type="text" name="subscription[site]" value="<%= @subscription.site %>" id="Site">
    
    <label for="Amount">Amount</label>
    <input type="num" name="subscription[amount]" value="<%= @subscription.amount %>"id="Amount">
    
    <label for="Duration">Duration</label>
    <input type="num" name="subscription[duration]" value="<%= @subscription.duration %>"id="Duration">
    
    <label for="SiteLink">Site Link</label>
    <input type="url" name="subscription[site_link]" value="<%= @subscription.site_link %>"id="SiteLink">
    
    <input type="submit" value="Submit">
</form>

<%= link_to 'Back', subscriptions_url %>