<h1><%= @subscription.site %></h1>

<p>
  <strong>Amount:</strong>
  $<%= @subscription.amount %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @subscription.duration %> days
</p>

<p>
  <strong>Site Link:</strong>
  <%= @subscription.site_link %>
</p>

<%= link_to 'Edit', edit_subscription_url(@subscription) %> |
<%= link_to 'Back', subscriptions_url %> | 
<%= link_to 'Delete', subscription_url(@subscription), method: :delete, data: { confirm: 'Are you sure?' } %>
