<article class="subscription-content">
<div class="page-header">Subscriptions > <%= page %>
    <button type="button" class="btn btn-default add-new">Add New</button>
</div>
<div class="subscriptions-container">
<% subscriptions.each(function(subscription) { %>
    <div class="subscriptions-item">
        <a class="subscriptions-item__logo" href="#subscriptions/<%= subscription.id %>"></a>
        <div class="subscriptions-item-desc">
            <div class="subscriptions-item-desc__expires"><span class="subscriptions-item-desc-expires__num">5</span> days left</div>
            <a class="subscriptions-item-desc__cancel" href="<%= subscription.escape('site_link') %>">CANCEL</a>
            <a class="subscriptions-item-desc__site" href="#subscriptions/<%= subscription.id %>"><%= subscription.escape('site') %></a>
            <div class="subscriptions-item-desc__amount">$<%= subscription.escape('amount')%></div>
        </div>
    </div>
<% }) %>
</div>
</article>